body {
    margin: 100px;
    background-color: gray;
    font-family: 'Consolas', sans-serif;
}

#errors {
    color: maroon;
}

#editor {
    background-color: black;
    color: white;
    padding: 0.7em;
    border-radius: 10px;
}

.highlight-VAR {
    color: #00ee00;
}
